* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #153862;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    color: #fff;
}

.campos {
    padding: 3px;
}


#frase-campo2 {
    margin-bottom: 0.8em;
}

#btn {
    padding: 5px;
    
}


@media (min-width: 300px) and (max-width: 700px) {
    span {
        width: 60%;
    }

}